<div>
    Liczba stanów<br />
    <input id="statesCountInput" type="number" min="0" [(ngModel)]="statesCount" (change)="statesCountChange()" />
</div>

<div>
    <table>
        <tr>
            <th></th>
            <th *ngFor="let state of states; index as i">
                q{{i}}
            </th>
        </tr>
        <tr *ngFor="let symbol of symbols; index as i">
            <td>
                {{symbol}}
            </td>
            <td *ngFor="let state of states, index as j" [ngClass]="{activeState: isActiveState(j, i)}">
                <div *ngIf="!isCellInEditMode(j, i)" (click)="edit(j, i)">
                    {{symbols[state[i].symbol]}} / q{{state[i].nextState}} / {{getDirection(state[i].direction)}}
                </div>
                <div *ngIf="isCellInEditMode(j, i)">
                    <select [(ngModel)]="editedStateSelectedSymbol">
                        <option *ngFor="let s of symbols">{{s}}</option>
                    </select>
                    <select [(ngModel)]="editedStateSelectedNextState">
                        <option *ngFor="let s of states; index as i">q{{i}}</option>
                    </select>
                    <select [(ngModel)]="editedStateSelectedDirection">
                        <option *ngFor="let d of avaliableDirections">{{d}}</option>
                    </select>
                    <br />
                    <button (click)="editOk()">OK</button>
                </div>
            </td>
        </tr>
    </table>
</div>