table {
  border-collapse: collapse;
  display: inline-block;
}

table, th, td {
  border: 2px solid #25D4E1;
}
  
th, td {
  padding: 9px;
  text-align: center;
}
  
.activeState {
  background-color: #E8FAFB;
}

.empty-button {
  outline: none;
  border: none;
  background: white;
}