.circle-full {
    width: 62px;
    height: 49px;
    background: linear-gradient(to right, #25D4E1, #2BB682);
    box-shadow: 0px 5px 10px 0px rgba(37,212,225,0.33);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
}

.circle-empty {
    width: 62px;
    height: 49px;
    background: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
    font-size: 28px;
    font-weight: 700;
}