<div class="container">
    <app-tape-element>{{symbols[tape[currentCell-5]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell-4]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell-3]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell-2]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell-1]]}}</app-tape-element>
    <app-tape-element filled="true">{{symbols[tape[currentCell]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell+1]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell+2]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell+3]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell+4]]}}</app-tape-element>
    <app-tape-element>{{symbols[tape[currentCell+5]]}}</app-tape-element>
</div>