<symbols [symbols]="symbols" (onSymbolAdded)="onSymbolAdded($event)"></symbols>

<div id="main-context">
    <state-array [states]="states" [symbols]="symbols" [tape]="tape" [currentCell]="currentCell"
        [currentState]="currentState"></state-array>
    <div class="buttons-center">
        <app-gradient-button (click)="next()">Następny krok</app-gradient-button><br />
        <app-gradient-button (click)="reset()">Restart maszyny</app-gradient-button>
    </div>
</div>

<tape [states]="states" [tape]="tape" [symbols]="symbols" [currentCell]="currentCell" [currentState]="currentState">
</tape>