<app-tape-initializer (tapeInitialized)="initTapeFromString($event)"></app-tape-initializer>

<symbols [symbols]="symbols" (onSymbolAdded)="onSymbolAdded($event)"></symbols>

<br/>

<state-array [states]="states" [symbols]="symbols" [tape]="tape" [currentCell]="currentCell" [currentState]="currentState"></state-array>

<br/>

<tape [states]="states" [tape]="tape" [symbols]="symbols" [currentCell]="currentCell" [currentState]="currentState"></tape>

<button id="nextButton" (click)="next()">Następny krok</button>
<button id="resetButton" (click)="reset()">Restart maszyny</button>
